<div id="Main">
    <div id="Content">
        <div id="Title">
            <div class="cell">
                <h1>Issue 11: FANTASY DOCUMENTED</h1>
                <h2>On Sale Soon...</h2>
                <p>
LOVE presents a cavalcade of colourful, full-on and occasionally twisted visions direct from the imaginations of some of the most talented individuals working in fashion and art. Photographed by David Sims, cover star Miley Cyrus talks about what it feels like to be the most divisive pop star in the world. Juergen Teller shoots Lily McMenamy modelling amid an otherworldly installation by Urs Fischer. Araki teams up with Christopher Kane to shoot the designer’s archive on film star Rila Fukushima. Jean-Paul Goude talks about working with Humberto Leon and Carol Lim and photographs Georgia Jagger in Kenzo. Hollywood’s next generation of leading men line up for Hedi Slimane’s camera. Sky Ferreira models new-season Balenciaga and Alex Wang talks about his first year at the house. Patrick Demarchelier shoots the spring collections. Prada designer Fabio Zambernardi talks presents his decadent costumes for a radical reworking of Don Giovanni. Inez and Vinoodh display their hyperreal flower studies. Kate Upton tries to do a handstand, Eva Herzigova laughs her head off and Cara Delevingne sticks her tongue out (and we paint it blue). Plus a melancholy monochrome portfolio of young bright sparks shot on gloomy English beaches by Sølve Sundsbø.</p>
                <h6>Loading...</h6>
            </div>
        </div>



        <div id="Gallery-container">
        </div>
        <br>
    </div>
</div>



<div id="Share">
    <p style="font-size:14px; line-height:15px;padding:0 40px 27px;">
        <script type="text/javascript">
(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return; js = d.createElement(s);
                        js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=237584629622804";
                        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

        </script> <script type="text/javascript">
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </p>
    <div id="fb-root" class="mobile-faceb"></div><a href="https://twitter.com/share" class="twitter-share-button" data-related="thelovemagazine"></a>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande" style="vertical-align:top;zoom:1;*display:inline"></div>

</div>


<p id="continue" style="padding-bottom:50px;">
    <a href="http://thelovemagazine.co.uk/index">continue</a>
</p>
