<div id="Main">
    <div id="Content">
        <div id="Gallery-container">
        </div>

        <div id="Video-container">
            <div class="video">
                <iframe src="http://player.vimeo.com/video/86303713?autoplay=true" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width:100%; height:100%;"></iframe>
            </div>
        </div>

    </div>
</div>





<div id="Title" style="">
    <h1>Groovy Edie by Ruth Hogben</h1>
</div>


<p id="continue" style="">
    <a href="http://thelovemagazine.co.uk/index">continue to site</a>
</p>

<div id="Share">
    <p style="font-size:14px; line-height:15px;padding:0;">
        <script type="text/javascript">
(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return; js = d.createElement(s);
                        js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=237584629622804";
                        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

        </script> <script type="text/javascript">
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </p>
    <div id="fb-root" class="mobile-faceb"></div><a href="https://twitter.com/share" class="twitter-share-button" data-related="thelovemagazine"></a>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande" style="margin-top:-7px;vertical-align:top;zoom:1;*display:inline"></div>

</div>



