
<div id="Content">
    <div class="title" style="">
        Miley Cyrus by David Sims and Katie Grand<br>
        LOVE 11 on sale 3-2-14
    </div>

    <div id="Video-container">
        <iframe src="http://player.vimeo.com/video/84947214?autoplay=true" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="video"></iframe>
    </div>

    <br>

    <div id="blurb">
        <p style="font-size:14px; line-height:15px;padding:0 40px 27px;">
            <script type="text/javascript">
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return; js = d.createElement(s);
                            js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=237584629622804";
                            fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

            </script> <script type="text/javascript">
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </p>
        <div id="fb-root" class="mobile-faceb"></div><a href="https://twitter.com/share" class="twitter-share-button" data-related="thelovemagazine"></a>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande" style="vertical-align:top;zoom:1;*display:inline"></div>
        <p class="continue" style="padding-bottom:50px;">
            <a href="http://thelovemagazine.co.uk/index">continue</a>
        </p>
    </div>
</div>
