<div id="Box">

</div>

<div id="Navigation">
    <div id="Arrows">
        <div class="arrow left">&nbsp;</div>
        <div class="arrow right">&nbsp;</div>
    </div>
</div>



<div id="Title" style="">
    <div class="cell">
        <h1>fantasy<br>documented<br>by<br>phil poynter</h1>
        <p id="note">
           <a href="#" class="view_gallery">view story<a/>
        </p>
    </div>
</div>


<p id="continue" style="">
    <a href="http://thelovemagazine.co.uk/index">CONTINUE TO LOVE</a>
</p>
<div id="Share">
    <p style="font-size:14px; line-height:15px;padding:0;">
        <script type="text/javascript">
(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return; js = d.createElement(s);
                        js.id = id; js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=237584629622804";
                        fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

        </script> <script type="text/javascript">
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script>
    </p>
    <div id="fb-root" class="mobile-faceb"></div><a href="https://twitter.com/share" class="twitter-share-button" data-related="thelovemagazine"></a>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande" style="vertical-align:top;zoom:1;*display:inline"></div>

</div>
