<div id="Box">
    <div class="item">
        <!-- item should be padded 100% width -->
        <img src="images/cover.gif" alt="" style="">
    </div>
    <div class="item">
        <!-- item should be padded 100% width -->
        <img src="images/miley.jpg" alt="" style="">
    </div>
</div>

<div id="Navigation">
    <div id="Arrows">
        <div class="arrow left">◀</div>
        <div class="arrow right">▶</div>
    </div>
</div>
