<div class="credit">
    <div class="s1">
      'up  down  fragile'   <br>
      Photography Drew Jarrett <br>
    </div>

    <div class="s2">
        Styling by Phoebe Arnold <br>
        Hair by Cecilia Romero at Art Department <br>
        Make up by Cedric Jolivic at See Management <br>
        Models Natalie Westling and Nastya Sten at The Society, Ola Rudnicka at Next <br>
        Casting by Anita Bitton <br>
        Fashion Assistants David Casavant and Dee Moran <br>
        Digital Imaging by Kapsure NYC <a href=""htttp://www.kapsure.com" target="_blank">www.kapsure.com</a>
    </div>

</div>

