<div class="credit">
    <div class="s1">
      'Impressive Instant'   <br>
      Photography Boo George  <br>
      Fashion Editor Anders Sølvsten Thomsen   <br>
      Cast on instagram, shot in London
    </div>

    <div class="s2">
      Hair  Lyndell Mansfield<br>
      Make up  Lotten Holmqvist <br>
      Casting  Madeleine Østlie, Phoebe Arnold and Anders Sølvsten Thomsen  <br>
      Models  Amanda Henry, Anna Brimma, Chen Yu, Cora Corre,<br>Emma Chitty, Hannah Marsden, Jakob Landvik, John Bestley, <br>Josh Quinton, Lottie Eunice, Max Granger, Nuha Ruby Ra, and Violette Esmeralda<br>
      Set Design  Thomas Petherick<br>
      Photographic assistance  Tom Sloan and Matthew Joy<br>
      Digital Technician  Sean Geraghty<br>
      Fashion assistance  Karolina Frechowicz, Rudy Betty and Viktorija Tomasevic<br>
      Hair assistance  Meggie Cousland and Jazmin Lenyero<br>
      Make up assistance  Amber Pitkin and Calli Paice<br>
      Set assistance  Elli Rawlingson<br>
      Retouching  Kasia Kret at Studio Invisible<br>
      Production  Justine Bayley at Streeters London<br>
      Special thanks to Big Sky Studios:<br>
      <a href="http://www.bigskylondon.com/tumblr.jsp" target="_blank">tumblr</a>
      <a href="http://instagram.com/bigskystudios" target="_blank">instagram</a>
      <a href="https://twitter.com/bigskystudio" target="_blank">twitter</a>
      <a href="https://www.facebook.com/BigSkyStudios" target="_blank">facebook</a>
    </div>

</div>

