<div class="cell">
    <div class="s1">
        Photography by Drew Jarrett<br/>
        Styling by Phoebe Arnold <br/>
        Hair by Cecilia Romero at Art Department <br/>
        Make up by Cedric Jolivet at See Management <br/>
        Models Natalie Westling and Nastya Sten at The Society,<br/>Ola Rudnicka at Next
        Casting by Anita Bitton <br/>
        Fashion Assistants David Casavant and Dee Moran <br/>
        Digital Imaging by Kapsure NYC www.kapsure.com <br/><br/>
    </div>

    <div class="s2">
        1. Ola wears shirt and skirt by Hermés; Nastya wears dress by Erika Cavallini <br/>
        2. Natalie wears dress by J Crew (worn backwards) <br/>
        3. Ola wears dress by Sandro; Natalie wears slip dress by La Perla <br/>
        4. Nastya wears dress by Joseph <br/>
        5. Ola wears dress by Leon Max; Nastya wears top by Givenchy <br/>
        6. Nastya wears cape by Leon Max <br/>
        7. Natalie wears dress by Vionnet <br/>
        8. Ola wears shirt by Bottega Veneta, skirt by Karen Millen <br/>
        9. Nastya wears jacket by Emporio Armani, shorts by DSquared <br/>
        10. Natalie wears skirt by La Perla, top by Diesel Black Gold, shoes by Longchamp <br/>
    </div>

</div>

<!--

        1 1. Ola wears shirt and skirt by Hermés; Nastya wears dress by Erika Cavallini <br/>
        5 2. Ola wears dress by Leon Max; Nastya wears top by Givenchy <br/>
        9 3. Nastya wears jacket by Emporio Armani, shorts by DSquared <br/>
        2 4. Natalie wears dress by J Crew (worn backwards) <br/>
        6 5. Nastya wears cape by Leon Max <br/>
        10 6. Natalie wears skirt by La Perla, top by Diesel Black Gold, shoes by Longchamp <br/>
        3 7. Ola wears dress by Sandro; Natalie wears slip dress by La Perla <br/>
        7 8. Natalie wears dress by Vionnet
        4 9. Nastya wears dress by Joseph <br/>
        8 10. Ola wears shirt by Bottega Veneta, skirt by Karen Millen <br/>
-->
