<div class="cell">
    <div class="s1">
       Photography by Phil Poynter<br>
    <!--
        Styling by Phoebe Arnold <br>
        Hair by Ashely Javier for Leonor Greyl<br>
        Make up by Tyron Machhausen at Bridge for Lancome<br>
        Nails by Kelly B at De Facto for Jin Soon<br>
        Models Waleska and Irene at DNA<br>
        Casting by Anita Bitton<br>
        Photographic Assistance by Jason Wang<br>
        Digital Operator Robert Johnson<br>
        Retouching by Jane Tam<br>
        Fashion Assistance by David Casavant, Dee Moran and Sari Rosins<br>
        Production Serlin Associates
    -->
    </div>

    <div class="s2">
    </div>

</div>

