<div class="cell">
    <div class="s1">
        Photography by Drew Jarrett<br/>
        Styling by Phoebe Arnold <br/>
        Hair by Cecilia Romero at Art Department <br/>
        Make up by Cedric Jolivic at See Management <br/>
        Models Natalie Westling and Nastya Sten at The Society,<br/>Ola Rudnicka at Next
        Casting by Anita Bitton <br/>
        Fashion Assistants David Casavant and Dee Moran <br/>
        Digital Imaging by Kapsure NYC www.kapsure.com <br/><br/>
    </div>


    <div class="s2">
        1. Ola wears shirt and skirt by Hermés; Nastya wears dress by Erika Cavallini <br/>
        2. Ola wears dress by Leon Max; Nastya wears top by Givenchy <br/>
        3. Nastya wears jacket by Emporio Armani, shorts by DSquared <br/>
        4. Natalie wears dress by J Crew (worn backwards) <br/>
        5. Nastya wears cape by Leon Max <br/>
        6. Natalie wears skirt by La Perla, top by Diesel Black Gold, shoes by Longchamp <br/>
        7. Ola wears dress by Sandro; Natalie wears slip dress by La Perla <br/>
        8. Natalie wears dress by Vionnet
        9. Nastya wears dress by Joseph <br/>
        10. Ola wears shirt by Bottega Veneta, skirt by Karen Millen <br/>
    </div>
</div>

<!--
        0. Ola wears shirt and skirt by Hermés; Nastya wears dress by Erika Cavallini <br/>
        8. Nastya wears dress by Joseph <br/>
        1. Ola wears dress by Leon Max; Nastya wears top by Givenchy <br/>
        2. Nastya wears jacket by Emporio Armani, shorts by DSquared <br/>
        4. Nastya wears cape by Leon Max <br/>
        6. Ola wears dress by Sandro; Natalie wears slip dress by La Perla <br/>
        9. Ola wears shirt by Bottega Veneta, skirt by Karen Millen <br/>
        3. Natalie wears dress by J Crew (worn backwards) <br/>
        5. Natalie wears skirt by La Perla, top by Diesel Black Gold, shoes by Longchamp <br/>
        7. Natalie wears dress by Vionnet
-->
