@import "compass/reset";
@import "compass/css3/transition";

//Universals
//Example Code
//@import 'sass-bootstrap/lib/bootstrap';
/*

@font-face {
    font-family: GaramondMT-Italic;
    src: url(fonts/GaramondMT-italic.eot);
    src: url(fonts/GaramondMT-italic.eot?#iefix) format("embedded-opentype"),url(fonts/GaramondMT-italic.woff) format("woff"),url(fonts/GaramondMT-italic.ttf) format("truetype"),url(fonts/GaramondMT-italic.svg#GaramondMT-italic) format("svg");
    font-weight: 400;
    font-style: normal
}

*/
@font-face {
    font-family: elucid;
    src: url(fonts/elucid/EuclidFlex-Bold.eot);
    src: url(fonts/elucid/EuclidFlex-Bold.eot?#iefix) format("embedded-opentype"),
    url(fonts/elucid/EuclidFlex-Bold.woff) format("woff"),
    url(fonts/elucid/EuclidFlex-Bold.ttf) format("truetype"),
    url(fonts/elucid/EuclidFlex-Bold.svg#GaramondMT) format("svg");
    font-style: bold
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
* {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}


.hidden{
    opacity:0;
    @include transition-property(opacity);
    @include transition-duration(1s);
}

.visible{
    @include transition-property(opacity);
    @include transition-duration(1s);
    opacity:1;
}



/* Globals */



body
{
    font-family:"GaramondMT",serif;
    margin:0;
    padding:0;
    text-align:center;
    line-height:27px;
    overflow:hidden;
    background-color: #121212;
}

html{
   // overflow:hidden;
   background-color: #121212;

}
a,a:visited{
    color:white;
    text-decoration:none;
}

$font-s1 : 100px;
$font-s2 : 24px;
$font-s3 : 14px;

$font-l1 : 115px;
$font-l2 : 41px;
$font-l3 : 28px;




.cell{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.spinner {
    background-image: url(../images/spinner-white.png);
    background-size: cover;
    background-image-repeat: no-repeat;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    width:20px;
    height:20px;
    display:inline-block;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}





/* Main */

#Main
{
    font-family:"GaramondMT",serif;
    display:table;
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
}

#Main #Content
{
    width:inherit;
    height:inherit;

    display:inline-block;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

#Content #Gallery-container
{
    //height:800px;
    width:100%;
    height:100%;
    position:relative
}






/* Gallery */

#Gallery-container #Gallery
{
    width:inherit;
    height:inherit;
    text-align:left;
}

#Gallery #Box
{
    position:relative;
    left:0;
    top:0;
    width:2000%;
    height:inherit;

    display:table;
    -webkit-transition:left 1s;
    -moz-transition:left 1s;
    -ms-transition:left 1s;
    -o-transition:left 1s;
    transition:left 1s
}


/* Gallery Titling */

#Title{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top: 0%;
    margin:0 0 0 0;
    z-index:10;
    display:table;
}

#Title h1{
    font-size:$font-s1;
    line-height:$font-l1;
    font-family:"elucid";
    color:#ffffff;
    letter-spacing: 1px;
    color:white;
    @include transition-property(opacity);
    @include transition-duration(1s);
}


#note{
    color: cyan;
    font-family:"elucid";
    margin: 30px;
    font-size: $font-s2;
    letter-spacing:1px;
    @include transition-property(opacity);
    @include transition-duration(1s);
    a{
        text-decoration:none;
        color:cyan;
    }
}

/* Gallery Item */

#Box .item
{
    height:100%;
    left:0;
    display:inline-block;
    width:auto;
    text-align:center;

    display:table;
    vertical-align:middle;
    position:absolute;
    color:white;
    //@extend .spinner;
}

#Box .item{
    font-family:elucid;
    font-size:30px;
    letter-spacing: 1px;
}

#Box .item img{
    //@include transition-property(width,height);
    //@include transition-duration(1s);
    //@include transition-delay(0.2s);
}

#Box .item .footer{
    left:0px;
    bottom: 15px;
    top: auto;

    width:inherit;
    height: 40px;

    padding: 20px 0;
    position: fixed;
    color: #ffffff;

}

#Box .item .footer.visible{
    opacity:1;
}



#Box .item .footer h6{
    font-size: 14px;
    text-transform: lowercase;
    text-align:center;
    color: #ffffff;
}

#Box .credits, #Box .continue {
    @extend .item;
}




#Box .s1{
    font-size: $font-s2;
    line-height: $font-l2;/*31px;*/
    padding: 0 0 24px 0;
    letter-spacing: 1px;
    text-transform: lowercase;
}

#Box .s2{
    font-size: $font-s3;
    line-height: $font-l3;/*21px;*/
    text-transform: lowercase;
}

#Box .continue a{
    font-size: $font-s2;
    color:white;
    text-decoration: none;
}

#Box .continue a:hover{
    text-decoration: underline;
}







/* Navigation */

#Gallery #Navigation
{
    position:fixed;
    z-index:100;
    width:100%;
    left:0;
    top:50%;
}

#Gallery #Arrows
{
    position:relative;
    width:inherit;
    height:inherit;
    left:0;
    top:0
}

.arrow
{
    font-family:sans;
    cursor:pointer;
    user-select:none;
    position:absolute;
    font-size:35px
}

.arrow.left
{
    display: none;
    left:10px;
    top:0%;
    margin:-50px 0 0 0;
    width:100px;
    height:100px;
    background:transparent url('../images/arrowleft.png') center center no-repeat;
}

.arrow.right
{
    //display: none;
    right:10px;
    top:0%;
    margin:-50px 0 0 0;
    width:100px;
    height:100px;
    background:transparent url('../images/arrowright.png') center center no-repeat;
}


/* Share */

#Share
{
    display:inline-block;
    width:100%;
    font-size:14px;
    text-align:center;
    position:fixed;
    left:10px;
    top:10px;
    z-index:100;
    text-align:left;
}

#Share .fb-like{
    margin-top:-6px;
}

#Share iframe{
    display: inline;
}


#continue a{
    color: #fff;
    text-decoration:none;
}

#continue {
    top:0px;
    right:0px;
    position:fixed;

    margin: 15px;

    line-height:12px;
    font-family:arial;
    font-size: 11px;
    letter-spacing:0px;
    z-index: 101;
}



.twitter-share-button{
    width:100px !important;
}

.particle{
    opacity:0;
    -webkit-transition:opacity 2s;
    -moz-transition:opacity 2s;
    -ms-transition:opacity 2s;
    -o-transition:opacity 2s;
    transition:opacity 2s
}


/* Responsive */


/* ios */

@media screen and (max-width: 568px){

    #Share .fb-like {
        display:block!important
    }

    #Title h1 {
        font-size:$font-s1 * 0.4;
        line-height:$font-l1 * 0.4;
    }

    #Box .credits .s1, #Box .credits .s2 {
        font-size: $font-s2 * 0.45;
        line-height: $font-l2  * 0.45;
    }

    #Box .credits .s2 {
        font-size: $font-s3  * 0.45;
        line-height: $font-l3  * 0.45;
    }

    #Gallery #Navigation{
        top:auto;
        bottom: 80px;
    }

    #Box .continue a{
        font-size: $font-s2 * 0.6;
        color:white;
        text-decoration: none;
    }

    .arrow.left{
        left:50%;
        margin:0 0 0 -90px;
        padding:0;
        width: 50px;
        height: 50px;
    }

    .arrow.right{
        left:50%;
        right:auto;
        margin:0 0 0 20px;
        width: 50px;
        height: 50px;
    }

}


@media screen
and (max-height: 640px)
and (min-width: 568px){
    #Title h1 {
        font-size:100px * 0.6;
        line-height:115px * 0.6;
    }

    #Box .credits .s1, #Box .credits .s2 {
        font-size: $font-s2 * 0.7;
        line-height: $font-l2  * 0.7;
    }

    #Box .credits .s2 {
        font-size: $font-s3  * 0.7;
        line-height: $font-l3  * 0.7;
    }
}


@media screen
and (max-height: 640px)
and (min-width: 568px){

}


//ios 4 and lower
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

}

//ios5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

}






