@import "compass/reset";

//Universals

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
* {
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}


.spinner {
    -webkit-mask-image: url(../images/spinner.png);
    background-color: #000;
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}




//Example Code
//@import 'sass-bootstrap/lib/bootstrap';
/*

@font-face {
    font-family: GaramondMT-Italic;
    src: url(fonts/GaramondMT-italic.eot);
    src: url(fonts/GaramondMT-italic.eot?#iefix) format("embedded-opentype"),url(fonts/GaramondMT-italic.woff) format("woff"),url(fonts/GaramondMT-italic.ttf) format("truetype"),url(fonts/GaramondMT-italic.svg#GaramondMT-italic) format("svg");
    font-weight: 400;
    font-style: normal
}

*/



body
{
    font-family:arial, helvetica, sans-serif;
    background:#fff;
    margin:0;
    padding:0;
    text-align:center;
    line-height:27px;
    background-color:#FCFCFC;
}

html{
}
a,a:visited{
    color:black;
    text-decoration:no-underline;
}

#App{

}

#Main
{
    display:table;
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
    background-color:#000000;
}

#Main #Content
{
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
    width:100%;
}


#Logo {
    width: auto;
    position: fixed;
    left: 20px;
    top: 40%;
    z-index: 25;
    text-align:left;
    z-index:1;
}

#Player{
    z-index:0;
    position:absolute;
    left:0px;
    top:0px;
}

#Share
{
    display:block;
    text-align:left;
    position:absolute;
    left:10px;
    top:10px;
    z-index:2;
}

#Share iframe{
    display: block;
}




#Title
{
    font-family:arial;
    font-size:12px;
    text-transform:uppercase;
    position:absolute;
    left:10px;
    top:10px;
    width: 100%;
    text-align:center;
    z-index:10;
    color: #ffffff;
}



#Title h1{
    -webkit-transition:opacity 1s;
    -moz-transition:opacity 1s;
    -ms-transition:opacity 1s;
    -o-transition:opacity 1s;
    transition:opacity 1s;
    line-height:1em;
}

#continue a{
    text-decoration:none;
    color: #ffffff;
}

#continue a:hover{
    text-decoration:underline;
}

.video{
    overflow:hidden;
    display:inline-block;
}

iframe{
    background-color:#000000;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {


}


@media screen and (max-height: 640px) {/* 568 */


}


//ios 4 and lower
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    #Content{
        width:auto;
    }

    #Player{
        height:80% !important;
    }
    #Title
    {
        bottom:2px;
        top:auto;
    }

    #Logo{
        display:none;
    }
}

//ios5
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

}






