@font-face {
  font-family: elucid;
  src: url(fonts/elucid/EuclidFlex-Bold.eot);
  src: url(fonts/elucid/EuclidFlex-Bold.eot?#iefix) format("embedded-opentype"),
  url(fonts/elucid/EuclidFlex-Bold.woff) format("woff"),
  url(fonts/elucid/EuclidFlex-Bold.ttf) format("truetype"),
  url(fonts/elucid/EuclidFlex-Bold.svg#GaramondMT) format("svg");
  font-style: bold;
}

$font-s1 : 10px;
$font-s2 : 10px;
$font-s3 : 10px;

$font-l1 : 10px;
$font-l2 : 10px;
$font-l3 : 10px;

.sans{
  font-family: "Helvetica",arial;
  font-weight: bold;
  font-size:$font-s1;
  line-height:$font-l1;
  letter-spacing:0px;
  color:#000000;
  @include transition-property(opacity);
  @include transition-duration(1s);
}

