@font-face {
  font-family: elucid;
  src: url(fonts/elucid/EuclidFlex-Bold.eot);
  src: url(fonts/elucid/EuclidFlex-Bold.eot?#iefix) format("embedded-opentype"),
  url(fonts/elucid/EuclidFlex-Bold.woff) format("woff"),
  url(fonts/elucid/EuclidFlex-Bold.ttf) format("truetype"),
  url(fonts/elucid/EuclidFlex-Bold.svg#GaramondMT) format("svg");
  font-style: bold
}

$font-s1 : 100px;
$font-s2 : 24px;
$font-s3 : 14px;

$font-l1 : 115px;
$font-l2 : 41px;
$font-l3 : 28px;



